<!DOCTYPE html>
<html>
    <head>
        <title>My Books</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
              <!-- Brand -->
            <a class="navbar-brand" href="{{url_for('index')}}">BookReviewer</a>
            
            {% if session['logged_in'] %}
                <a class="navbar navbar-right" href="{{ url_for('logout')}}" class="navbar-link">Logout</a>
            {% else %}
                <a class="navbar navbar-right" href="{{ url_for('register')}}" class="navbar-link">Register </a></p>
            {% endif %}
            </nav>
        
        
        <div class="container">
        <h1>{% block heading %}{% endblock %}</h1>

        {% block body %}
        {% endblock %}
        </div>
    </body>
</html>
